#hero{
    width: 100%;
    height: 100%;
    background-image: url(../img/products/Montale.png);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 50px;
    left: 0;
}

.container{
    width: 50%;
    height: 100vh;
    background: rgba(86,86,86,0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    top: 0;
}

.info{
    width: 550px;
    color: #000;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.info h1{
    font-size: 60px;
    letter-spacing: 10px;
}

.info p{
    color: #000000;
    font-size: 11px;
    margin: 20px 0;
    line-height: 18px;
}

.info input{
    width: 50%;
    padding: 8px 10px;
    outline: none;
    border: 2px solid #000;
    border-radius: 20px;
    background: transparent;
    color: #000;
    font-size: 12px;
}

::placeholder{
    color: #ccc;
}

.slider{
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
    bottom: 50px;
}

#prev, #next{
    width: 30px;
    cursor: pointer;
}

.preview{
    display: flex;
    align-items: center;
    margin: 0 60px;
}

.preview img{
    width: 70px;
    height: 90px;
    margin: 0 10px;
    opacity: 0.4;
}

.preview .active{
    display: block;
    border: 3px solid #000000;
    opacity: 1;
}