{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet"  href="{%  static  'css/bootstrap.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/bootstrap-grid.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/bootstrap-reboot.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/custom.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/profile.css'  %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous">
    <link rel="stylesheet"  href="{%  static  'css/homepage.css'  %}">
    <link rel="stylesheet"  href="{%  static  'css/product_review.css'  %}">
    <title>La Profumeria</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">La Profumeria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'Store:Accedi' %}">Log in</a>
              <a class="dropdown-item" href="{% url 'Store:Registration' %}">Sign up</a>
              {% if user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'Store:profile' %}">Profile</a>
              {% endif %}
            </div>
          </li>
          {% if user.is_authenticated %}
              <li>
                  <a class="nav-link" href="{% url 'carts:cart_view' %}" role="button" aria-haspopup="true"
                     aria-expanded="false">
                      Cart <span class="badge">{% if not request.session.items_total %} 0 {% else %}
                      {{ request.session.items_total }} {% endif %}</span></a>
              </li>
          {% endif %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search for...</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'Store:price' %}">Price</a>
                  <a class="dropdown-item" href="{% url 'Store:men-perfumes' %}">Men's perfumes</a>
                  <a class="dropdown-item" href="{% url 'Store:women-perfumes' %}">Women's perfumes</a>
              </div>
          </li>

          {% if user.is_authenticated %}
            <li>
              <a class="nav-link" href="{% url 'Store:Logout' %}" role="button" aria-haspopup="true"
                 aria-expanded="false">Logout</a>
            </li>
          {% endif %}
            <li>
              <a class="nav-link" href="{% url 'Store:recommended-products' %}" role="button" aria-haspopup="true"
                 aria-expanded="false">Our suggestions</a>
            </li>
          {% if user.is_staff %}
            <li>
              <a class="nav-link" href="{% url 'Store:lista-prodotti' %}" role="button" aria-haspopup="true"
                 aria-expanded="false">Manage Products</a>
            </li>
          {% endif %}
        </ul>

        <form class="form-inline my-2 my-lg-0" method=POST action="{% url 'Store:SearchBar' %}">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search"
                 name="searched">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
</header>

    {% block content %} {% endblock %}

    <footer>
         <script src="{% static 'js/jquery.min.js' %}"></script>
         <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
         <script src="{% static 'js/bootstrap.js' %}"></script>
         <script src="{% static 'js/product_filter.js' %}"></script>
    </footer>
</body>
</html>