{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="hero">
        <div class="container">
            <div class="info">
                <h1>DISCOVER</h1>
                {% if user.is_authenticated %}
                    <p>Hello {{ user.username }}!</p>
                {% endif %}
            </div>
        </div>

        <div class="slider">
            <i class="fas fa-arrow-circle-left" style="color: black;" id="prev"></i>
            <div class="preview">
                <img src="static/img/products/Montale.png" class="active thumbnail" alt="">
                <img src="static/img/products/Hermes_Terre_Hermes.jpg" class="thumbnail">
                <img src="static/img/products/Versace_Eros_Eau_de_Toilette.jpg" class="thumbnail">
                <img src="static/img/products/Valentino_Women.jpg" class="thumbnail">
                <img src="static/img/products/Valentino_Eau_de_Parfum_uomo.jpg" class="thumbnail">
            </div>
            <i class="fas fa-arrow-circle-right" style="color: black;" id="next"></i>
        </div>
    </div>


    <script>
        var prev = document.getElementById("prev");
        var next = document.getElementById("next");
        var thumbnail = document.getElementsByClassName("thumbnail");
        var hero = document.getElementById("hero");

        var backgroundImg = ["static/img/products/Montale.png",
            "static/img/products/Hermes_Terre_Hermes.jpg",
            "static/img/products/Versace_Eros_Eau_de_Toilette.jpg",
            "static/img/products/Valentino_Women.jpg",
            "static/img/products/Valentino_Eau_de_Parfum_uomo.jpg"];
        let i=0;
        next.onclick = function () {
            if (i < 4) {
                hero.style.backgroundImage = 'url("' + backgroundImg[i + 1] + '")';
                thumbnail[i+1].classList.add("active");
                thumbnail[i].classList.remove("active");
                i++;
            }
        }
        prev.onclick = function () {
            if (i > 0) {
                hero.style.backgroundImage = 'url("' + backgroundImg[i - 1] + '")';
                thumbnail[i-1].classList.add("active");
                thumbnail[i].classList.remove("active");
                i--;
            }
        }

    </script>
{% endblock %}