{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Awesome Web Page Design - Easy Tutorials</title>
        <link rel="stylesheet"  href="{%  static  'css/homepage.css'  %}">
    </head>
    <body>
        <div id="hero">
            <div class="navbar">
                <img src="static/img/products/logo.png" class="logo">
                <div class="user">
                    <button type="button">Explore</button>
                    <img src="static/img/products/user.png">
                </div>
            </div>
            <div class="container">
                <div class="info">
                    <h1>DISCOVER</h1>
                    <p>Testo testo testo testo</p>
                </div>
            </div>
        </div>
    </body>
{% endblock %}