{% extends 'base.html' %}
{% load static %}
<script type="text/javascript" src="{% static 'js/product_filter.js' %}"></script>

{% block content %}
    <center>
    <h1>Price</h1>
    <div class="list-group list-group-flush">
        <li class="list-group-item">
            <input type="range" value="{{ minMaxPrice.price__min }}"
                   min={{ minMaxPrice.price__min }} max={{ minMaxPrice.price__max }}
                   id="rangeInput" oninput="maxPrice.value=this.value"> <!-- oninput è il valore che ho inserito-->
            <p>{{ minMaxPrice.price__min }}-{{ minMaxPrice.price__max }}</p>
        </li>
        <li class="list-group-item">
            Max: <input type="number" value="{{ minMaxPrice.price__min }}"
                        min={{ minMaxPrice.price__min }} max={{ minMaxPrice.price__max }}
                        class="form-control" id="maxPrice" onkeyup="rangeInput.value=this.value">
            <button id="priceFilterBtn" class="btn btn-info btn-sm mt-1">Apply</button>
        </li>
    </div>
    </center>
    <div id="filteredProducts"></div>
{% endblock %}