{% extends 'base.html' %}

{% block content %}
    <center>
    <h1>{{ object.name }}</h1>
    <h3>€{{ object.price }}, Stars: {% if product.get_rating == 0 %}No rating yet{% else %}{{ product.get_rating|floatformat:1 }}{% endif %}</h3>
    <p>{{ object.description }}</p>
    <img src="../../../{{ object.image }}" />

    <hr>
    <h2 class="subtitle">Reviews</h2>
    <div class="newsletter-wrapper notification">
        {% for review in product.reviews.all %}
            <div class="notification space-below">
                <p>
                    <strong>Date: </strong>{{ review.date_added|date:"Y-m-d" }},
                    <strong>Stars: </strong>{{ review.stars }}
                </p>
                {{ review.content }}
            </div>
            {% empty %}
                <div class="notification space-below">
                    No reviews yet...
                </div>
        {% endfor %}
    </div>

    <div class="notification space-below">
        {% if user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>Stars</label>
                    <div class="form-control">
                        <div class="selected">
                            <select name="stars">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3" selected>3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Content</label>
                    <div class="form-control">
                        <label>
                            <textarea class="md-textarea form-control" name="content"></textarea>
                        </label>
                    </div>
                </div>

                <div class="field">
                    <div class="form-control">
                        <input type="submit" class="btn btn-secondary" value="Submit" />
                    </div>
                </div>
            </form>
        {% else %}
            <p>Please sign in to add review!</p>
        {% endif %}
    </div>
    </center>
{% endblock %}