{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

    {% include 'profile_image_modal.html' %}

    <div class="row pt-5">
        <div class="col-md-12 ">
            <form method="post" class="profilefrm" style="text-align: center;" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <div>
                  {% load avatar_tags %}

                  {% avatar user 200 %}
                  <a href="{% url 'avatar_change' %}">Change your avatar</a>
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                          data-target="#modalImgProfile">Change your image profile</button>
                </div>

                <button type="submit">Save</button>
            </form>
            <br>
        </div>
    </div>

{% endblock %}