{% extends 'base.html' %}

{% block content %}
    <div class="row" style="padding-left: 10rem">
        {% for key, value in products.items %}
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../../../{{ key.image }}" alt="Card image cap">
                    <div class="card-body">
                        <a href="{% url 'Store:ProductList' key.id %}"><h5 class="card-title">{{ key.name }}</h5></a>
                        {% with ''|center:value.intero as range %}
                            {% for _ in range %}
                                 <i class="bi bi-star-fill"></i>
                            {% endfor %}
                        {% endwith %}
                        {% if value.frazione %}
                            <i class="bi bi-star-half"></i>
                        {% endif %}
                        <p class="card-text">{{ key.description }}</p>
                        <!--<a href="#" class="btn btn-primary"></a>-->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}